RewriteEngine On
RewriteBase /Sistema-de-Gesti-n-de-Inventario/

# Redirigir todo a la carpeta public
RewriteCond %{REQUEST_URI} !^/Sistema-de-Gestion-de-Inventario/public/
RewriteRule ^(.*)$ public/$1 [L]

# Dentro de public, redirigir a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]